Requirements:
Required: Conda, Jupyter Notebook and Python.

Run these commands in terminal:

conda create -n swedish-ner python=3.9
conda activate swedish-ner 
conda install pandas numpy scikit-learn
pip install evaluate
pip install transformers datasets seqeval 
pip install torch
pip install "accelerate>=0.26.0" transformers[torch]
pip install pyarrow (maybe not neccessary)
pip install shap bertviz torch torchvision torchaudio
pip install matplotlib